PORT= UR PORT FOR API
MONGO_URI= UR MONGO DB LINK
ACCESS_TOKEN_SECRET= ANY STRING OF YOUR CHOICE
REFRESH_TOKEN_SECRET= ANY STRING OF YOUR CHOICE
EMAIL=HOST EMAIL ID
APP_PASSWORD= GET A GOOGLE APP APP_PASSWORD
