PORT= UR PORT FOR API
MONGO_URI= UR MONGO DB LINK
NODE_ENV=
ACCESS_TOKEN_SECRET= ANY STRING OF YOUR CHOICE
REFRESH_TOKEN_SECRET= ANY STRING OF YOUR CHOICE
CLIENT_URL= Your front end url
EMAIL=HOST EMAIL ID
APP_PASSWORD= GET A GOOGLE APP APP_PASSWORD
